<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Navspeak QR</title>
</head>
<h1> Scan the QR Code to access the <span style="color: #a52a2a; "><%- pkg -%></span> package </h1>
<br>
<img src="<%= qr %>" />
</body>
</html>
